*{
	margin:0px;
	padding:0px;
	boxing-sizing:border-box;
}

body{
	background:darkgray;
	font-family:arial;
	color:white;
	margin:0;
	height:100vh;
	width:100%;
	overflow: hidden;
}

.container-fluid{
  	width:100%;
  	height:100%;
  	/* Smooth Scroll */
  	overflow-y: scroll;
  	scroll-behavior: smooth;
}

section{
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	text-align: center;
  	width: 100%;
  	height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.center{
	text-align: center;
}

strong{
	font-size:180%;
}

/*.contact{
	background-color: gray;
	width: 80%;
	height:60%;
	margin:10% 20% 10% 20%;
	box-shadow: 5px 5px 25px 5px #888888;
	float:left;
}
*/

.slider-container{
	width:60%;
	height:40%;
	margin-left: auto;
	margin-right:auto;
	overflow: hidden;
	text-align: center;
}

.img-container{
	width:300%;
	height:40%;
	position:relative;
	transition: left 2s;
	-webkit-transition:left 2s;
	-moz-transition: left 2s;
	-o-transition:left 2s;
}

.slider-img{
	float: left;
	margin: 0px;
	padding:0px;
}

.button-container{
	top:-10%;
	position: relative;
}

.slider-button{
	display: inline-block;
	height:10px;
	width:10px;
	border-radius: 5px;
	background-color:white;
}

#slider-img-1:target ~ .img-container{
	left: 0px;
}

#slider-img-2:target ~ .img-container{
	left: -60%;
}

#slider-img-3:target ~ .img-container{
	left: -120%;
}

#slider-img-4:target ~ .img-container{
	left: -180%;
}

#slider-img-5:target ~ .img-container{
	left: -240%;
}

.btn-default{
	background:white;
}

.left{
	float:left;
	margin:50%;
	display:center;
	background:white;
	color:darkblue;

}

.projects-text{
	width:60%;
	height: 5%;
	background: darkgray;
	text-align: center;
}

.right{
	/*float:right;*/
	margin:20%;
	background:skyblue;
}

section#home {
  background: url(background/pokemon_bg.jpg) no-repeat center center/cover;;
}

.home{
	background-color:skyblue;
	margin:20% 10%;
	width:80%;
	height:60%;
	box-shadow: 5px 5px 25px 5px #888888;
}

section#objective {
  background: url(background/engineering_bg.jpg) no-repeat center center/cover;;
}

section#experience {
  background: url(background/engineering_bg2.jpg) no-repeat center center/cover;;
}

section#projects {
  background: url(background/engineering_bg3.jpg) no-repeat center center/cover;;
}

section#education {
  background: url(background/engineering_bg4.jpg) no-repeat center center/cover;;
}

section#contact {
  background: url(background/engineering_bg5.jpg) no-repeat center center/cover;;
}